body{
  background-image: url(./images/background-image.jpg);
  background-size: cover;
  font-family: 'Rubik', sans-serif;
}
/*.card{
  background-color: rgb(247, 178, 40,0.8);
 
}

.card-text{
  font-size: 1.5rem;
}*/

.rating1{
  color: red;
}
.rating2{
  color: gold;
}
.rating3{
  color: green;
}
#blob{
  background-image: url(./images/blob.svg);
  background-repeat: no-repeat;
  background-position: center;
  
 
}

.weather-display{
  background-color: rgb(245, 245, 245, 0.5);
}
@media (min-width: 992px){
  #text-joke{
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) { 
  h4{
    font-size: 8rem;
  }
  .btn{
    font-size: 4rem;
  }
  /*.card-text{
    font-size: 5rem;
  }*/
  #text-joke{
    font-size: 5rem;
  }
  .weather{
    font-size: 4rem;
  }
  #icon{
    height: 9rem;
  }
}